/*************************
	CSS Reset
*************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************
	Personal
*************************/
a {
	text-decoration: none;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: #aed0d8;
	transition: 4.5s;
	z-index: 3;
}
header.scrolled {
	height: 80px;
}
header .accent {
	position: absolute;
	top: 0;
	right: 0;
}
header .triangle {
	position: absolute;
	left: 0;
	bottom: -119px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 131px 228px 0 228px;
	border-color: #aed0d8 transparent transparent transparent;
}

header .top-logo {
	position: absolute;
	top: 25px;
	left: 30px;
	height: 455px;
	width: 395px;
}
header .top-logo img {
	width: 395px;
	height: 455px;
	object-fit: cover;
}

header .tagline {
	position: absolute;
	left: 455px;
	bottom: 115px;
	width: calc(100% - 455px);
	height: 68px;
	line-height: 68px;
	font-size: 68px;
	font-family: 'rift', sans-serif;
	font-weight: 600;
	font-style: normal;
	color: #ffffff;
	text-shadow: -2px 0 0 #231f20;
}

header .accent {
	position: absolute;
	top: -183px;
	right: -65px;
	height: 465px;
	width: 100%;
	background: url(images/headerCombs.svg);
	background-position: top right;
	background-repeat: no-repeat;
}
header a {
	width: max-content;
}

nav {
	position: absolute;
	bottom: 30px;
	left: 455px;
	width: calc(100% - 485px);
	height: 60px;
	transition: 1.6s;
}
header.scrolled nav {
	height: 50px;
	bottom: 15px;
	width: calc(100% - 350px);
	left: 350px;
}
nav a {
	display: inline-block;
	width: calc((100% / 6) - 20px);
	height: 60px;
	line-height: 60px;
	background: #e3ac42;
	transform: skew(25deg);
	margin-right: 15px;
	text-align: center;
	color: #231f20;
	font-family: 'rift', sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	transition: 1.5s;
}
header.scrolled nav a {
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}
nav a span {
	display: block;
	transform: skew(-25deg);
	transition: 1.5s;
}
nav a span img {
	display: none;
	height: 30px;
	width: 30px;
	margin: 0 10px -5px 0;
	object-fit: cover;
}
nav a:hover span img,
nav a.active span img {
	display: inline-block;
}
header.scrolled nav a span img {
	height: 20px;
	width: 20px;
	margin: 0 5px -3px 0;
}

header .scroll-logo {
	display: none;
	height: 80px;
	line-height: 80px;
	font-family: 'rift', sans-serif;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #2f3443;
	text-shadow: -2px 0 0 #231f20;
}
header.scrolled .scroll-logo {
	display: block;
}
header .scroll-logo img {
	height: 50px;
	width: 50px;
	object-fit: cover;
	float: left;
	margin: 15px;
}

.dropdown {
	position: fixed;
	right: 40px;
	top: 370px;
	width: calc(((100% - 485px) / 4) - 20px);
	background: #fcdd8d;
	height: 0;
	overflow: hidden;
	transition-duration: 0.5s;

}
header.scrolled .dropdown {
	right: 11px;
	top: 65px;
	width: calc(((100% - 350px) / 4) - 20px);
}
.dropdown a {
	width: 100%;
	transform: none;
	background: #fcdd8d;
	transition-duration: 0.1s;
	height: 50px !important;
	line-height: 50px !important;
	font-size: 20px !important;
}
.dropdown a:hover{
	background: #e3ac42;
}
.dropdownTrigger:hover + .dropdown,
.dropdown:hover {
	height: 250px;
}

.mobile-header {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #daa927;
	transition: 4.5s;
	z-index: 3;
}
.mobile-header .scroll-logo {
	height: 80px;
	line-height: 80px;
	font-family: 'rift', sans-serif;
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	text-shadow: -2px 0 0 #231f20;
}
.mobile-header .scroll-logo img {
	height: 50px;
	object-fit: cover;
	float: left;
	margin: 15px;
}
.mobile-header .mobile-menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 40px;
	color: #ffffff;
}
.mobile-header .mobile-menu i {
	cursor: pointer;
	text-shadow: -2px 0 0 #231f20;
}

.mobile-header .mobile-nav {
	position: absolute;
	top: 80px;
	right: 0;
	height: 0;
	overflow: hidden;
	width: 100%;
	background: #fcdd8d;
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-sizing: border-box;
	transition-duration: 0.5s;
	z-index: 99999999;
}
.mobile-header .mobile-nav a {
	display: block;
	color: #3f4554;
	font-family: 'rift', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 20px;
}
.mobile-header .mobile-nav a:hover,
.mobile-header .mobile-nav a.active {
	color: #231f20;
}

.mobile-header .mobile-nav a img {
	display: none;
	height: 30px;
	width: 30px;
	margin: 0 10px 0 0;
	object-fit: cover;
}
.mobile-header .mobile-nav a:hover img,
.mobile-header .mobile-nav a.active img {
	display: inline-block;
}

.toTop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	background: #aed0d9;
	color: #231f20;
	z-index:9999999;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

section {
	background: #ffffff;
	font-family: 'myriad-pro', sans-serif;
	font-style: normal;
	font-weight: 300px;
	font-size: 1.6em;
	line-height: 200%;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
}

section.main {
	color: #3f4554;
	padding: 185px 40px 180px 455px;
	background: url(images/sectionCombs.svg);
	background-position: -100px -150px;
	background-repeat: no-repeat;
	background-size: 500px;
	margin-top: -65px;
}
header.scrolled ~ section.first {
	margin-top: 80px;
}

section.first {
	padding: 100px 40px 180px 455px;
	margin-top: 400px;
}
section.alt {
	color: #ffffff;
	background: #2f3443 url(images/beeLine.svg);
	background-position: calc(100% - 75px) 50px;
	background-repeat: no-repeat;
	background-size: 300px;
	transform: skewY(5deg);
	margin-top: -100px;
	padding: 100px 455px 100px 40px;
	z-index:2;
}
section.alt span {
	display: block;
	transform: skewY(-5deg);
	margin-bottom: 20px;
}
section.alt span span {
	transform: skewY(0deg);
}
section p {
	margin-bottom: 40px;
}
section h2 {
	font-family: 'rift', sans-serif;
	font-size: 60px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 30px;
}
section h3 {
	font-family: 'rift', sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}
section li {
	display: flex;
	align-items: flex-start;
}
section li i {
	font-size: 0.8rem;
	margin: 20px 10px 0 0;
}
section li ul {
	margin: 20px 0 20px 40px;
}
section img {
	height: 250px;
}
section.main img {
	float: left;
}
section.alt img {
	float: right;
}
section.timeline img,
section.assets img {
	width: 100%;
	max-width: 500px;
	height: auto;
	margin: 0 auto;
	display: block;
	float: none;
}
section.prog img {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	float: none;
}
section.main.assets img {
	border: 5px solid #231f20;
}
section.alt.assets img {
	border: 5px solid #ffffff;
}
section.timeline {
	text-align: center;
}
.twoCol {	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}
.timelineImages {	
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 30px;
}
section.timeline h2 {
	text-align: left;
}
section.main h3 {
	color: #2f3443;
}
section.main a {
	color: #daa927;
}
section.alt a,
section.alt h3 {
	color: #fcdd8d;
}
section b {
	font-weight: bold;
	color: #2f3443;
}
section.alt b {
	font-weight: bold;
	color: #fcdd8d;
}
.deviceImages {
	float: left;
	margin-right: 30px;
	height: auto;
}
.deviceImages img {
	display: block;
	width: 250px;
	height: 145px;
	object-fit: cover;
	margin-bottom: 30px;
}
.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	grid-column-gap: 30px;
	grid-row-gap: 30px;
}
.gallery.tallImages {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.gallery div {
	display: inline-block;
	background: #ffffff;
	position: relative;
}
.gallery img {
	height: 200px;
	float: none;
	width: 100%;
	object-fit: cover;
}
.gallery.tallImages img {
	height: 215px;
}
.gallery .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background: rgba(0,0,0,0.85);
	opacity: 0;
	transition-duration: 0.5s;
	cursor: pointer;
	text-align: center;
}
.gallery div:hover .hover {
	opacity: 1;
}
.gallery .caption {
	display: none;
}
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	box-sizing: border-box;
	display: none;
	padding: 50px;
}
.backgroundlb {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.85);
	z-index: 99;
}
.closelb {
	position: fixed;
	top: 0;
	right: 0;
	padding: 30px;
	font-size: 1.6em;
	color: #ffffff;
	font-family: 'rift', sans-serif;
	cursor: pointer;
	z-index: 99;
}
.activeImg {
	text-align: center;
	height: 100%;
	display: grid;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 99;
	width: calc(100% - 200px);
	margin: 0 auto;
}
.activeImg img {
	max-height: 100%;
	margin: 0 auto;
	background: #ffffff;
}
.activeImg .hover {
	display: none;
}
.activeImg .caption {
	padding: 20px 50px;
	color: #ffffff;
	font-family: 'myriad-pro', sans-serif;
	font-size: 1.6em;
}

footer {
	width: 100%;
	background: #aed0d9;
	padding: 150px 100px 50px 100px;
	margin-top: -70px;
	box-sizing: border-box;
	font-family: 'myriad-pro', sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #2f3443;
	line-height: 50px;
}
footer a {
	height: 50px;
	display: inline-block;
	margin: 0 20px 30px 0;
}
footer a img {
	height: 50px;
}

footer a i {
	font-size: 50px;
	color: #ffffff;
}

@media only screen and (max-width: 1300px) {
	nav a {
		font-size: 20px;
	}
}

@media only screen and (max-width: 1100px) {
	header {
		display: none;
	}
	.mobile-header {
		display: block;
	}
	section.main,
	section.first,
	section.alt {
		background-image: none;
		width: 100%;
	}
	section.main,
	section.alt {
		margin-top: 0;
	}
	section.main {
		padding: 50px 30px;
	}
	section.alt {
		padding: 100px 30px 100px 30px;
	}
	section.first {
		margin-top: 80px !important;
	}
}