:root {
	--lt-lottie: #e8ccd1;
	--dk-lottie: #ca8a93;

	--lt-nik: #81c1c5;
	--dk-nik: #61a6aa;

	--lt-milo: #e1bdb2;
	--dk-milo: #d48d79;

	--lt-fletch: #bdd2c0;
	--dk-fletch: #5a7e5e;
}

.lottie {
	--ltAccent: var(--lt-lottie);
	--dkAccent: var(--dk-lottie);
}
.nik {
	--ltAccent: var(--lt-nik);
	--dkAccent: var(--dk-nik);
}
.fletch {
	--ltAccent: var(--lt-fletch);
	--dkAccent: var(--dk-fletch);
}
.milo {
	--ltAccent: var(--lt-milo);
	--dkAccent: var(--dk-milo);
}