body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #222222;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #f0f0f0;
    font: 14px Jost;
    grid-row-gap: 10px;
    z-index: 10;
}
header h1 {
    font: 20px mallory_narrow;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    align-self: end;
}
header p {
    margin: 0;
    align-self: start;
    letter-spacing: 0.5px;
}
main {
    margin-top: 100px;
    width: 100%;
    display: grid;
    align-items: start;
    grid-template: 1fr / 1fr 1fr;
}
main > section {
    position: fixed;
    top: 100px;
    width: 50%;
    height: calc(100% - 100px);
    box-sizing: border-box;
}
main > section:nth-of-type(odd) {
    background: #444444;
    left: 0;
}
main > section:nth-of-type(even) {
    right: 0;
}
.form {
    display: grid;
    grid-template-rows: calc(100% - 50px) 30px;
    row-gap: 20px;
    padding: 50px;
}
.result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px calc(100% - 50px);
    box-sizing: border-box;
}
.result h3 {
    font-family: mallory_narrow;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 5px 20px;
    align-self: center;
    cursor: pointer;
}
.result h3.active,
.result h3:hover {
    border-bottom: 1px solid #222222;
    width: max-content;
}
.scroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
    box-sizing: border-box;
}
.result .scroll {
    display: none;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin: 50px 0;
}
.result .scroll.active {
    display: block;
}
main > section h2 {
    color: #f0f0f0;
    font: 16px mallory_narrow;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px 0;
}
main > section label input {
    display: none;
}
main > section label {
    font: 10px mallory_narrow;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f0f0f0;
    display: grid;
    grid-auto-flow: column;
    height: 20px;
    align-items: center;
    width: max-content;
    cursor: pointer;
}
main > section label input + div {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 10px 0 0;
    padding: 5px;
}
main > section label input:checked + div > div {
    width: 100%;
    height: 100%;
    background: #c0c0c0;
    border-radius: 50%;
}
main > section .twoCol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
    column-gap: 20px;
    margin: 20px 0;
    align-items: start;
}
.ifMusic span.twoCol {
    column-gap: 10px;
    row-gap: 10px;
}
main > section .fiveCol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
    column-gap: 20px;
    margin-bottom: 20px;
}
.twoCol .twoCol {
    margin: 0;
}
.twoCol .fullWidth {
    grid-column: 1 / -1;
}
.tempType {
    display: grid;
    grid-template: max-content max-content / 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.typeSwitch {
    margin-top: 20px;
}
section input[type="text"] {
    height: max-content;
    width: 100%;
}
.ifTime {
    display: grid;
    width: 100%;
}
.ifTime span {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}
.typeSwitch button {
    margin-top: 0;
}
#quoteBody {
    margin-bottom: 20px;
}
.ifTrack {
    display: grid;
    width: 100%;
}
.ifTrack span {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
}
.ifTrack .title {
    grid-column: 1 / 3;
}
.ifTrack .title,
.ifTrack .status,
.ifTrack .tid {
    margin-top: 10px;
}
.ifTrack input:first-of-type,
.ifTrack input:nth-of-type(2),
.ifTrack select:first-of-type {
    margin-top: 0;
}
.iLink {
    margin-top: 10px;
}
.iLink:first-of-type {
    margin-top: 0;
}
.form textarea {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    background: #f0f0f0;
    color: #444444;
    font: 12px Jost;
    line-height: 200%;
    border: 0;
    box-sizing: border-box;
    padding: 20px;
}
.form input,
.form select {
    padding: 3px 5px;
    border: 0;
    border-radius: 10px;
    background: #f0f0f0;
    color: #444444;
    font: 12px Jost;
    box-sizing: border-box;
    min-height: 23px;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #f0f0f0;
    color: #222222;
    font: 10px mallory_narrow;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 0;
    height: max-content;
    width: max-content;
    margin-top: 20px;
}
section > button {
    margin-top: 0;
    font-size: 14px;
}

.hideFirst {
    display: none;
}

selectCode {
    display: grid;
    align-items: center;
    justify-items: center;
    max-width: 500px;
    height: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #444444;
    color: #f0f0f0;
    font: 14px mallory_narrow;
    letter-spacing: 2px;
    margin: 0 auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
}
pre {
    max-width: 500px;
    max-height: 100px;
    padding: 30px;
    border: 1px solid #dddddd;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    background: #cccccc;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #222222 transparent;
    margin: 0 auto;
}
pre code {
    white-space: pre-wrap;
}