
<title>@@siteTitle</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Styles-->
<link rel="stylesheet" href="@@prefix/dist/css/styles.css" />
<link rel="stylesheet" href="@@prefix/dist/css/glide.core.min.css" />

<!--Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<!--Icons-->
<link href="@@prefix/css/all.css" rel="stylesheet" />

<!--Script Libraries-->
<script type='text/javascript' src='https://files.jcink.net/html/jquery-1.7.2.min.js'></script>
<script type='text/javascript' src='https://files.jcink.net/html/jquery.cookie-1.3.1.js'></script> 
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="@@prefix/dist/js/glide.min.js"></script>

<!--Settings-->
<script type='text/javascript' src='@@prefix/dist/js/settings.js'></script>

<!--Scripts-->
<script type='text/javascript' src='@@prefix/dist/js/functions.js'></script>