<nav>
    <button onClick="toggleMenu(this)" class="mobileOnly">
        <div class="menu-bar menu-top"></div>
        <div class="menu-bar menu-middle"></div>
        <div class="menu-bar menu-bottom"></div>
    </button>
    <ul>
        <li><a href="@@prefix/index.html">Home</a></li>
        <li><a href="@@prefix/photos/equine.html">Equine</a></li>
        <li><a href="@@prefix/photos/wildlife.html">Wildlife</a></li>
        <li><a href="@@prefix/photos/portraits.html">Portraits</a></li>
        <li><a href="@@prefix/photos/landscapes.html">Landscapes</a></li>
    </ul>
</nav>