.default {
    --accent: var(--default);
}
.carly {
    --accent: var(--carly);
}
.glenn {
    --accent: var(--glenn);
}


:root {
    --default: #000000;
    --carly: #ff0000;
    --glenn: #00ff00;
}